* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #031926, #000);
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  color: #f4e9cd;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.ring {
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
  border-top: 4px solid #77aca2;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  box-shadow: 0 0 20px rgba(119, 172, 162, 0.6);
  backdrop-filter: blur(6px);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 1.2rem;
  letter-spacing: 2px;
  animation: fade 2s ease-in-out infinite alternate;
  color: #9dbebb;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
